$color-background-1: #1d2333;
$color-background-2: #171d2d;
$color-background-3: #0e1525;
$color-control-1: #313646;
$color-control-2: #2b3140;
$color-control-3: #262b3b;
$color-border: #313646;
$color-foreground-1: #e1e2e4;
$color-foreground-2: #90939c;
$color-foreground-3: #696d78;
$color-foreground-4: #4e525f;
$color-foreground-transparent-1: rgba(14,21,37,0.48);
$color-foreground-transparent-2: rgba(14,21,37,0.24);
$color-foreground-transparent-3: rgba(14,21,37,0.12);
$color-primary-1: #3485e4;
$color-primary-2: #337bd2;
$color-primary-3: #3273c4;
$color-primary-4: #316cb8;
$color-primary-transparent-1: rgba(52,133,228,0.48);
$color-primary-transparent-2: rgba(52,133,228,0.24);
$color-primary-transparent-3: rgba(52,133,228,0.12);
$color-negative-1: #ff491c;
$color-negative-2: #eb451b;
$color-negative-3: #db411b;
$color-negative-4: #cd3e1a;
$color-negative-transparent-1: rgba(255,73,28,0.48);
$color-negative-transparent-2: rgba(255,73,28,0.24);
$color-negative-transparent-3: rgba(255,73,28,0.12);
$color-warning-1: #f26702;
$color-warning-2: #de5f07;
$color-warning-3: #ce590a;
$color-warning-4: #c0540c;
$color-warning-transparent-1: rgba(242,103,2,0.48);
$color-warning-transparent-2: rgba(242,103,2,0.24);
$color-warning-transparent-3: rgba(242,103,2,0.12);
$color-positive-1: #20ab46;
$color-positive-2: #219d41;
$color-positive-3: #22923d;
$color-positive-4: #22883a;
$color-positive-transparent-1: rgba(24,204,81,0.48);
$color-positive-transparent-2: rgba(24,204,81,0.24);
$color-positive-transparent-3: rgba(24,204,81,0.12);

$light-bg: #f4f4f6;
$bg-color: #e0e0e6;
$light-bg-2:linear-gradient(159deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);

$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-primary: #0d6efd;
$bs-secondary: #6c757d;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #212529;
$bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$bf-2: #444444;
$bg-dark-1: #040609;
$bg-dark-2: rgb(33, 44, 61);
$fg-dark-1: rgb(146, 171, 207);
$fg-dark-2: #92abcf;
$fg-dark-2: rgb(17, 236, 229)